.btn-custom {
  width: auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
}

.orbisFooter a,
.orbisFooter a:focus,
.orbisFooter a:active,
.orbisFooter a:visited {
  color: #fff;
}

.orbisFooter a:hover {
  text-decoration: underline;
}
